---
import  BaseLayout  from '@/layouts/BaseLayout.astro';

import type { PokemonList, Pokemon } from '@/env';

import CardList from '@/components/CardList.astro';

const res = await fetch('https://pokeapi.co/api/v2/pokemon/');
const data:PokemonList = await res.json();
const pokemons = await Promise.all(data.results.map(async (pokemon: Pokemon) => {
  const res = await fetch(`https://pokeapi.co/api/v2/pokemon-form/${pokemon.name}`);
  return res.json();
}));
const pokemonColor = await Promise.all(data.results.map(async (pokemon: Pokemon) => {
  const res = await fetch(`https://pokeapi.co/api/v2/pokemon-species/${pokemon.name}`);
  const data = await res.json();
  return data.color.name;
}));
---
<BaseLayout>
    <h1 class="py-8 text-2xl text-center text-primary">ASTRO</h1>
    <section class="container">
      <div class="grid gap-2 md:gap-x-4 md:gap-y-6 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-8">
        <CardList color={pokemonColor} data={pokemons} />
      </div>
    </section>
</BaseLayout>
